
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script>
var t= '';
function gText (e) {
    t= (document. all) ? document.selection.createRange().text: document.getSelection(); 
    if(t ===undefined || t==''|| t.length < 3) {
        console.log(".--------*********")
        return;
    }
    fetch('http://localhost:8000/output')
    .then (response > response.text())
    .then (text => {console.log(text)})
}
    // document.onmouseup = gText;
    document.captureEvents (Event.MOUSEUP);
    document.getElementsByTagName('label').onmouseup =gText

</script>
<body>
<h1>Sign Up</h1>
<form method="POST" enctype="multipart/form-data">
<label> firstName: </label> <input type="text" name="file" /> <label> lastName: </label><input type="text" name="file2"/> <label> phone: </label><input type="text" name="file2"/> <button>tax estimate</button>
<button>tax return</button>
</form>
</body>
</html>
